
@media screen and (min-width:900px ){
   div.container{
       display: flex;
       flex-direction: row;
   }

   div.container  .flex3 {
    background-color: blue;
    margin: 1em;
    order: 3;
}

div.container   .flex4 {
    background-color: yellow;
    margin: 1em;
    order: 4;

}
}
@media screen and (max-width:900px ){
   div.container{
       display: flex;
       flex-direction: column;
   }
    div.container  .flex3 {
    background-color: blue;
    margin: 1em;
    order: 4;
  }
  div.container .flex4 {    
    background-color: yellow;
    margin: 1em;
    order: 3;
   } 
}

div.container  .flex1 {
    background-color: red;
    margin: 1em;
    order: 2;
    flex: 20%;
}
div.container  .flex1:hover {
    background-color: green;        
    flex: 50%;
}
div.container .flex1:hover + div {
    background-color: orange;
    
}

div.container  .flex2 {
    background-color:green;
    margin: 1em;
    order: 1;
    flex: 20%;
}
